<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration
    xmlns:log4j="http://jakarta.apache.org/log4j/"
    debug="false">

    <appender
        name="ConsoleAppender"
        class="org.apache.log4j.ConsoleAppender">
        <param
            name="Target"
            value="System.out" />

        <layout
            class="org.apache.log4j.PatternLayout">
            <param
                name="ConversionPattern"
                value="%d{hh:mm:ss a} %-5p [%t] [%c:%M] %m%n" />
        </layout>
    </appender>

    <logger
        name="org.springframework"
        additivity="false">
        <level
            value="error" />
        <appender-ref
            ref="ConsoleAppender" />
    </logger>

    <logger
        name="org.aspectj"
        additivity="false">
        <level
            value="error" />
        <appender-ref
            ref="ConsoleAppender" />
    </logger>

    <logger
        name="org.apache.mina"
        additivity="false">
        <level
            value="error" />
        <appender-ref
            ref="ConsoleAppender" />
    </logger>

    <logger
        name="org.apache.ftpserver"
        additivity="false">
        <level
            value="info" />
        <appender-ref
            ref="ConsoleAppender" />
    </logger>

    <root>
        <priority
            value="debug" />
        <appender-ref
            ref="ConsoleAppender" />
    </root>

</log4j:configuration>


